<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="'Sport Forum |' + ${title}">Title</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<nav th:fragment="navigation" class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/}">Sport Forum X</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <!-- *//ToDo double check if we can change the fas fa-bars with some basketball maybe-->
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a href="#" th:href="@{/}"
                                        class="nav-link px-lg-3 py-3 py-lg-4" th:text="#{navigation.home}">Home</a></li>

                <li class="nav-item"> <a href="#" th:if="${isAuthenticated}"
                                         th:href="@{/posts/new}" class="nav-link px-lg-3 py-3 py-lg-4"
                                         th:text="#{navigation.createPost}"> Create Post </a></li>



                <li class="nav-item"><a href="#" th:unless="${isAuthenticated}"
                                        th:href="@{/auth/login}" class="nav-link px-lg-3 py-3 py-lg-4"
                                        th:text="#{navigation.login}">Login</a></li>
                <li class="nav-item"><a href="#" th:if="${isAuthenticated}"
                                        th:href="@{/auth/logout}" class="nav-link px-lg-3 py-3 py-lg-4"
                                        th:text="#{navigation.logout}">Logout</a></li>
                <li class="nav-item"><a href="#" th:unless="${isAuthenticated}"
                                        th:href="@{/auth/register}" class="nav-link px-lg-3 py-3 py-lg-4"
                                        th:text="#{navigation.register}">Register</a></li>
                <li class="nav-item"><a href="#" th:href="@{/profile}" class="nav-link px-lg-3 py-3 py-lg-4"
                                        th:text="#{navigation.profile}">Profile</a></li>
                <li class="nav-item"><a href="#" th:href="@{/about}" class="nav-link px-lg-3 py-3 py-lg-4"
                                        th:text="#{navigation.about}">About</a></li>
                <li class="nav-item"><a href="#" th:if="${isAuthenticated && session.isAdmin}"
                                        th:href="@{/admin}" class="nav-link px-lg-3 py-3 py-lg-4"
                                        th:text="#{home.welcome.admin}">Admin Panel</a></li>
            </ul>
        </div>
    </div>
</nav>

<header th:fragment="header" class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Sport Forum X</h1>
                    <span class="subheading">If you can't accept losing, you can't win!</span>

                </div>
            </div>
        </div>
    </div>
</header>



<div class="body-content">
    <div th:if="${posts.isEmpty()}">
        <h2 th:text="#{posts.title.empty}">No Posts</h2>
    </div>
    <div th:unless="${posts.isEmpty()}">
        <h2 th:text="#{posts.title}"> All Posts</h2>
    </div>

    <div class="table">
        <div class="header">
            <div class="header-cell"  th:text="#{post.label.title}"> Title </div>


            <div class="header-cell" th:text="#{post.content}"> Content</div>

            <div class="header-cell" th:text="#{post.comment}"> Comments</div>

            <div class="header-cell" th:text="#{post.label.createdBy.username}"> Created By</div>

            <div class="header-cell" th:text="#{post.likes}"> Likes</div>
            <div th:if = "${session.isAdmin}" class="header-cell" th:text="#{post.activity}">Activity</div>
        </div>

        <div class="rowGroup" th:each="posts: ${posts}">

            <div class="cell">
                <a class="link-info" href="#" th:href="@{/posts/{id}(id=${posts.id})}"
                   th:text="${posts.title}"> Title</a>
            </div>
            <p style="max-width: 500px;text-overflow: ellipsis; white-space: nowrap;
                                            overflow: hidden" class="text-muted tx-13"
               th:text="${posts.getContent()}">Content


            <div class="cell" th:text="${posts.getComments().size()}"> Comments</div>

            <img th:src="'https://icons.veryicon.com/png/o/miscellaneous/8atour/people-23.png'"
                 alt="Creator Icon" width="30" height="30"/>
            <span th:text="${posts.getAuthor().getUsername()}">








            </span>
        </div>

<footer th:fragment="footer" class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                        </a>
                    </li>
                </ul>
        </div>
    </div>
</footer>
    </div>
</div>

</body>
</html>