<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:replace="~{UserForm.html::head('User Posts')}"></form>
<body>
<form th:replace="~{UserForm.html::navigation}"></form>
<form th:replace="~{UserForm.html::header}"></form>
<div class="body-content">
    <!-- //TODO need to check with the colleagues if we can do it from their implementation-->
    <div th:if="${posts.isEmpty()}">
        <h2 th:text="#{posts.title.empty}">No Post</h2>
    </div>
    <div th:unless="${posts.isEmpty()}">
        <h2 th:text="#{posts.title}">All Posts</h2>
    </div>
    <div class="table">
        <div class="header">
            <div class="header-cell" th:text="#{user.username}+': ' + ${user.username}">Posts</div>
        </div>
        <div class="rowGroup" th:each="post : ${posts}">
            <div class="cell">
                <!-- //TODO it doesn't redirect me to the required information-->
                <a class="link-info" href="#" th:href="@{/users/userPosts:{id}(id=${user.id})}"
                   th:text="${post.title}">Post names</a>
            </div>
        </div>
    </div>
</div>
<form th:replace="~{UserForm.html::footer}"></form>
</body>
</html>